<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app id="inspire">
        <v-card flat>
            <v-toolbar color="primary"
                       dark
                       extended
                       flat>
                <span class="title ml-3 mr-5"
                      style="cursor: pointer;"
                      @click="$router.push('/')">
                    Site&nbsp;<span class="font-weight-light">- Card</span>
                </span>
            </v-toolbar>

            <v-layout row pb-2>
                <v-flex xs8 offset-xs2>
                    <v-card class="card--flex-toolbar">
                        <v-toolbar card prominent>
                            <v-menu :nudge-width="200">
                                <template v-slot:activator="{ on }">
                                    <v-toolbar-title>
                                        <span>News</span>
                                    </v-toolbar-title>
                                </template>

                                <v-list>
                                    <v-list-tile v-for="item in items"
                                                 :key="item.id"
                                                 @click="handleSelectCategory(item)">
                                        <v-list-tile-title v-text="item.name"></v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>

                            <v-spacer></v-spacer>

                            <template v-if="$auth.user">
                                <v-btn @click="$router.push('/categories')">
                                    Categories
                                </v-btn>
                                <v-btn @click="handleAddNews">
                                    Add news
                                </v-btn>
                                <v-btn icon @click="handleExit">
                                    <v-icon>exit_to_app</v-icon>
                                </v-btn>
                            </template>

                            <template v-else>
                                <v-btn icon to="/login">
                                    <v-icon>perm_identity</v-icon>
                                </v-btn>
                            </template>

                        </v-toolbar>

                        <v-divider/>

                        <v-content>
                            <v-container fluid
                                         fill-height>
                                <v-layout justify-center column>
                                    <nuxt-child/>
                                </v-layout>
                            </v-container>
                        </v-content>

                        <v-card-text style="height: 200px;"></v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-card>

        <template v-if="$auth.user">
            <CreateNews :show.sync="dialogCreateNews"/>
        </template>
    </v-app>
</template>

<script>
    import CreateNews from '~/components/CreateNews';
    import CreateCategory from '~/components/CreateCategory';

    export default {
        components: {
            CreateNews,
            CreateCategory
        },
        data: () => ({
            drawer: null,
            dialogCreateNews: false,
            dialogCreateCategory: false,
            selectedCategory: 'All',
            items: []
        }),
        props: {
            source: String
        },
        methods: {
            async handleExit() {
                try {
                    await this.$auth.logout();
                    this.$router.push('/');
                } catch (e) {
                    console.log(e);
                }
            },
            handleSelectCategory(item) {
                this.selectedCategory = item.name;
            },
            handleAddNews() {
                this.dialogCreateNews = true;
            },
        }
    }
</script>

<style>
    .card--flex-toolbar {
        margin-top: -64px;
    }

</style>
