<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" max-width="600px">
            <v-card>
                <v-card-title>
                    <template v-if="updateData.hasOwnProperty('id')">
                        <span class="headline">Update news</span>
                    </template>
                    <template v-else>
                        <span class="headline">Add news</span>
                    </template>
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field v-model="form.title"
                                                  label="Title"
                                                  required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea v-model="form.short_desc"
                                                label="Short description"/>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea v-model="form.full_content"
                                                label="Full description"/>
                                </v-flex>
                                <v-flex xs12>
                                    <Treeselect v-model="form.category_id"
                                                :maxHeight="120"
                                                placeholder="Select category"
                                                :options="categories"
                                                :normalizer="normalizer"/>
                                </v-flex>

                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                    <template v-if="updateData.hasOwnProperty('id')">
                        <v-btn color="blue darken-1" flat @click="handleUpdate">Update</v-btn>
                    </template>
                    <template v-else>
                        <v-btn color="blue darken-1" flat @click="handleSubmit">Add</v-btn>
                    </template>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import Treeselect from '@riophae/vue-treeselect'

    export default {
        name: 'CreateNews',
        props: {
            show: {
                type: Boolean,
                default: false
            },
            updateData: {
                type: Object,
                default: function () {
                    return {}
                }
            }
        },
        components: {
            Treeselect,
        },
        data() {
            return {
                form: {
                    title: '',
                    short_desc: '',
                    full_content: '',
                    category_id: null
                },
                categories: [],
                normalizer(node) {
                    return {
                        id: node.id,
                        label: node.name,
                        children: node.children,
                    }
                },
            }
        },
        computed: {
            dialog: {
                get() {
                    if (this.show) {
                        this.init();
                    }

                    return this.show;
                },
                set() {
                    this.title = '';
                    this.short_desc = '';
                    this.full_content = '';
                    this.category_id = null;

                    this.$emit('update:show', false);
                }
            }
        },
        methods: {
            async init() {
                let data = await this.$axios.$get('/news/create');
                this.categories = data.categories;

                if (this.updateData.hasOwnProperty('id')) {
                    this.form.title = this.updateData.title || '';
                    this.form.short_desc = this.updateData.short_desc || '';
                    this.form.full_content = this.updateData.full_content || '';
                    this.form.category_id = this.updateData.category_id || null;
                }
            },
            resetForm() {
                this.form.title = '';
                this.form.short_desc = '';
                this.form.full_content = '';
                this.form.category_id = null;
            },
            async handleSubmit() {
                let data = await this.$axios.$post('/news', this.form);
                if (data.success) {
                    this.$root.$emit('createNewsSuccess', true);
                    this.$router.push('/');
                    this.resetForm();
                    this.dialog = false;
                }
            },
            async handleUpdate() {
                let data = await this.$axios.$patch(`/news/${this.updateData.id}`, this.form);
                if (data.success) {
                    this.$root.$emit('createNewsSuccess', true);
                    this.resetForm();
                    this.dialog = false;
                }
            }
        },
    }
</script>

<style scoped>

</style>
