<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-layout row justify-center>
        <v-dialog v-model="dialog" max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Add category</span>
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <Treeselect v-model="form.parent_id"
                                                :maxHeight="120"
                                                placeholder="Select parent category"
                                                :options="categoryItems"
                                                :normalizer="normalizer"/>
                                </v-flex>

                                <v-flex xs12>
                                    <v-text-field label="Name category"
                                                  v-model="form.category_name"
                                                  required></v-text-field>
                                </v-flex>

                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                    <template v-if="updateData.hasOwnProperty('id')">
                        <v-btn color="blue darken-1" flat @click="handleUpdate">Update</v-btn>
                    </template>
                    <template v-else>
                        <v-btn color="blue darken-1" flat @click="handleSubmit">Add</v-btn>
                    </template>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import Treeselect from '@riophae/vue-treeselect'
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        name: 'CreateCategory',
        props: {
            show: {
                type: Boolean,
                default: false
            },
            updateData: {
                type: Object,
                default: function () {
                    return {}
                }
            }
        },
        components: {
            Treeselect,
        },
        data() {
            return {
                categoryItems: [],
                form: {
                    parent_id: null,
                    category_name: ''
                },
                normalizer(node) {
                    return {
                        id: node.id,
                        label: node.name,
                        children: node.children,
                    }
                },
            }
        },
        created() {
            this.fetchCategories();
        },
        computed: {
            dialog: {
                get() {
                    this.form.parent_id = (this.updateData.category) ? this.updateData.category.id : null;
                    this.form.category_name = this.updateData.name || '';
                    this.form.id = this.updateData.id || 0;
                    return this.show;
                },
                set() {
                    this.form.parent_id = null;
                    this.form.category_name = '';
                    this.$emit('update:show', false);
                }
            }
        },
        methods: {
            async fetchCategories() {
                this.categoryItems = await this.$axios.$get('/category/create');
            },
            async handleSubmit() {
                let data = await this.$axios.$post('/category', this.form);
                if (data.success) {
                    this.fetchCategories();
                    this.form.parent_id = null;
                    this.form.category_name = '';
                    this.$emit('successCreate', true);
                    this.dialog = false;
                } else {
                    console.log('error fetch categories!');
                }
            },
            async handleUpdate() {
                let data = await this.$axios.$patch(`/category/${this.form.id}`, this.form);
                if (data.success) {
                    this.fetchCategories();
                    this.form.parent_id = null;
                    this.form.category_name = '';
                    this.$emit('successCreate', true);
                    this.dialog = false;
                } else {
                    console.log('error fetch categories!');
                }
            }
        }
    }
</script>

<style scoped>

</style>
