<template>
    <div>
        <v-btn color="primary"
               dark
               class="mb-4"
               @click="dialogCreateCategory = true">
            Add category
        </v-btn>

        <v-data-table :headers="headers"
                      hide-actions
                      :items="categories">
            <template v-slot:items="props">
                <td>{{ props.item.name }}</td>
                <td>{{ (props.item.category) ? props.item.category.name : '' }}</td>
                <td class="justify-end layout px-4">
                    <v-icon small
                            class="mr-2"
                            @click="editItem(props.item)">
                        edit
                    </v-icon>
                    <v-icon small
                            @click="deleteItem(props.item)">
                        delete
                    </v-icon>
                </td>
            </template>
            <template v-slot:no-data>
                <p class="text-xs-center">Categories empty</p>
            </template>
        </v-data-table>

        <CreateCategory :show.sync="dialogCreateCategory"
                        :updateData="updateData"
                        @successCreate="successCreate"/>
    </div>
</template>

<script>
    import CreateCategory from '~/components/CreateCategory';

    export default {
        name: 'Categories',
        components: {
            CreateCategory,
        },
        middleware: ['auth'],
        data: () => ({
            dialogCreateCategory: false,
            dialog: false,
            updateData: {},
            headers: [
                {
                    text: 'Name',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                {
                    text: 'Parent',
                    value: 'category',
                    sortable: false,
                },
                {
                    text: 'Actions',
                    value: 'actions',
                    sortable: false,
                    align: 'right'
                }
            ],
            categories: [],
        }),
        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogCreateCategory(val) {
                if (!val) {
                    this.updateData = {};
                }
            }
        },
        created() {
            this.initialize()
        },
        methods: {
            async initialize() {
                this.categories = await this.$axios.$get('/category');
            },
            editItem(item) {
                this.updateData = item;
                this.dialogCreateCategory = true;
            },
            async deleteItem(item) {
                if (confirm('Are you sure you want to delete this item?')) {
                    let data = await this.$axios.$delete(`/category/${item.id}`);
                    if (data.success) {
                        this.initialize();
                    } else {
                        console.log('error fetch categories!');
                    }
                }
            },
            successCreate() {
                this.initialize()
            }
        }
    }
</script>

<style scoped>

</style>
