<template>
    <v-container fluid
                 grid-list-lg>
        <v-layout row wrap>
            <v-flex class="text-xs-right">
                <v-btn icon @click="clickSort">
                    <v-icon>sort</v-icon>
                </v-btn>
            </v-flex>
            <v-flex xs12 v-for="item in news" :key="item.id">
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <div class="headline">{{ item.title }}</div>
                            <span>{{ item.short_desc }}</span>
                        </div>
                    </v-card-title>

                    <v-card-actions>
                        <template v-if="$auth.user">
                            <v-btn @click="clickEdit(item)"
                                   flat
                                   icon
                                   color="primary">
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-btn @click="clickDelete(item)"
                                   flat
                                   icon
                                   color="primary">
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </template>

                        <v-layout row justify-space-between style="margin: 10px">
                            <v-btn flat
                                   color="primary"
                                   :to="'/news/' + item.slug">
                                More
                            </v-btn>

                            <v-chip v-if="item.category"
                                    class="mr-4"
                                    label
                                    color="pink"
                                    text-color="white">
                                {{ item.category.name }}
                            </v-chip>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </v-flex>

        </v-layout>

        <div class="text-xs-center" style="margin-top: 25px">
            <v-pagination v-model="paginate.page"
                          @input="changePaginate"
                          :length="paginate.total"/>
        </div>

        <CreateNews :show.sync="editNewsShow"
                    :updateData="updateData"
                    @createNewsSuccess="createNewsSuccess"/>
    </v-container>
</template>

<script>
    import CreateNews from '~/components/CreateNews';

    export default {
        data: () => {
            return {
                news: [],
                paginate: {
                    page: 1,
                    total: 0
                },
                editNewsShow: false,
                updateData: {},
                sort: 'desc'
            }
        },
        components: {
            CreateNews,
        },
        created() {
            this.init();
            this.$root.$on('createNewsSuccess', () => {
                this.init();
            });
        },
        methods: {
            async init(page) {
                let data = await this.$axios.$get('/news', {
                    params: {
                        page: page || this.paginate.page,
                        sort: this.sort
                    }
                });

                this.paginate.total = Math.ceil(data.total / data.per_page);
                this.news = data.data;
            },
            changePaginate(page) {
                this.init(page);
            },
            clickEdit(item) {
                this.editNewsShow = true;
                this.updateData = item;
            },
            async clickDelete(item) {
                if (confirm('Are you sure you want to delete this news?')) {
                    let data = await this.$axios.$delete(`/news/${item.id}`);
                    if (data.success) {
                        this.init();
                    } else {
                        console.log('error fetch news!');
                    }
                }
            },
            createNewsSuccess() {
                this.updateData = {};
            },
            clickSort() {
                this.sort = this.sort === 'desc' ? 'asc' : 'desc';
                this.init();
            }
        },
    }
</script>
