<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dark color="primary">
                        <v-toolbar-title>Login form</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form ref="form"
                                @keyup.native.enter="validate"
                                v-model="valid"
                                lazy-validation>
                            <v-text-field prepend-icon="person"
                                          v-model="form.login"
                                          required
                                          name="login"
                                          label="Login"
                                          type="text"></v-text-field>
                            <v-text-field id="password"
                                          v-model="form.password"
                                          required
                                          prepend-icon="lock"
                                          name="password"
                                          label="Password"
                                          type="password"></v-text-field>
                        </v-form>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :disabled="!valid"
                               color="primary"
                               @click="validate">
                            Login
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    export default {
        components: {},
        data() {
            return {
                valid: true,
                form: {
                    login: '',
                    password: ''
                }
            }
        },
        methods: {
            async validate() {
                if (this.$refs.form.validate()) {
                    try {
                        await this.$auth.login({
                            data: this.form
                        });
                        this.$router.push('/');
                    } catch (e) {
                        this.error = e.response.data.error;
                        this.loading = false;
                    }
                }
            },
        }
    }
</script>
