<template>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs12>
                <h1>{{ news.title }}</h1>
                <br>
                <p>
                    {{ news.short_desc }}
                </p>
                <p>
                    {{ news.full_content }}
                </p>
            </v-flex>
            <v-flex>
                <h2 style="margin: 50px 0 20px">Comments ({{ comments.length }})</h2>
                    <v-flex xs12 v-for="comment in comments" :key="comment.id">
                        <v-card>
                            <v-card-title primary-title>
                                <div>
                                    <h3 class="headline mb-0">{{ comment.author }}:</h3>
                                    <div style="margin-top: 25px">{{ comment.comment }}</div>
                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                <v-form style="margin-top: 50px;">
                    <v-text-field v-model="form.name"
                                  label="Name"></v-text-field>
                    <v-textarea v-model="form.comment"
                                label="Comment"></v-textarea>
                    <v-btn color="primary" @click="handleSubmit">
                        Send
                    </v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: 'NewsId',
        validate({params}) {
            return true;
        },
        created() {
            this.init();
        },
        data() {
            return {
                slug: this.$route.params.id || '',
                news: {},
                comments: [],
                form: {
                    id: null,
                    name: '',
                    comment: ''
                }
            }
        },
        methods: {
            async init() {
                this.news = await this.$axios.$get('/news/' + encodeURI(this.slug));
                this.comments = this.news.comments;
            },
            async handleSubmit() {
                this.form.id = this.news.id;
                let data = await this.$axios.$post('/comment', this.form);
                if (data.success) {
                    // form reset
                    this.form.name = '';
                    this.form.comment = '';

                    this.init();
                }
            }
        },
    }
</script>

<style scoped>

</style>
